<div data-role="page" data-title="Religião de Deus">
	<div data-role="content">
		<ul data-role="listview" data-filter="false">
			<li>
				<a href="#ouvir" rel="external" style='padding-left:58px;' data-transition="slide">
					<h3>Super Rede Boa Vontade</h3>
					<p>Ou&ccedil;a à rádio 100% Jesus</p>
				</a>
			</li>
			<li>
				<a href="#tvaovivo" rel="external" style='padding-left:58px;' data-transition="slide">
					<h3>Boa Vontade TV</h3>
					<p>Assista ao vivo</p>
				</a>
			</li>
			<li>
				<a href="#interacao" rel="external" style='padding-left:58px;' data-transition="slide">
					<h3>Interação</h3>
					<p>Participe da nossa programação ao vivo</p>
				</a>
			</li>
			<li>
				<a href="#lbvcultural" rel="external" style='padding-left:58px;' data-transition="slide">
					<h3>Videos</h3>
					<p>Youtube</p>
				</a>
			</li>
		</ul>
	</div>
</div>	