<div data-role="page" style='background-color:black'>
	<div data-role="header" data-position="inline" 
		<h1>Page Title</h1>
		<a href="index.html" data-icon="gear" class="ui-btn-right">Options</a>
	</div>
	<div data-role="content">
		<img src="<%=params[:p]-%>"/>
	</div>
	<div data-role="footer" class="ui-bar">
		<a href="index.html" data-role="button" data-icon="delete">Remove</a>
		<a href="index.html" data-role="button" data-icon="arrow-l">Anterior</a>
		<a href="index.html" data-role="button" data-icon="arrow-r">Proxima</a>
	</div>
</div>